<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.linyh.datasource.mapper.DscAlertLogMapper">

    <resultMap id="BaseResultMap" type="xyz.linyh.datasource.model.entity.DscAlertLog">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="alertRuleId" column="alert_rule_id" jdbcType="BIGINT"/>
        <result property="dscId" column="dsc_id" jdbcType="BIGINT"/>
        <result property="alertTime" column="alert_time" jdbcType="TIMESTAMP"/>
        <result property="alertStatus" column="alert_status" jdbcType="TINYINT"/>
        <result property="errorMessage" column="error_message" jdbcType="VARCHAR"/>
        <result property="notifyChannel" column="notify_channel" jdbcType="TINYINT"/>
        <result property="notifyRecipients" column="notify_recipients" jdbcType="OTHER"/>
        <result property="resolvedAt" column="resolved_at" jdbcType="TIMESTAMP"/>
        <result property="resolvedUserId" column="resolved_user_id" jdbcType="BIGINT"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
        <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,alert_rule_id,dsc_id,
        alert_time,alert_status,error_message,
        notify_channel,notify_recipients,resolved_at,
        resolved_user_id,created_time,updated_time,
        is_deleted
    </sql>
</mapper>
